@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: "Oswald", serif;
}	

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

img {
	max-width: 100%;
	height: auto;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 70px;

}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
transition: 0.6s ease;

}

.btn:hover{
	background-color: #fff;
	color: #000;
}

#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
}

#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
	opacity: 0;
}

.open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.mobile-menu {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: calc(100vh - 50px);
	width: 100%;
}

.mobile-menu li{
	margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
	header{
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./rsz_1.jpg);
	}

	header nav {
		display: none;
	}

	nav{
		margin: auto;
		max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	}

	#hamburger-icon {
		display: block;
	}
}
